body {
  background-color: lightblue;
  margin:0;
}
h1 {
  color: rgb(0, 0, 0);
  font-size:30px;
  margin-bottom: -30px;
  margin-left: 13px;
}
h2 {
  color: rgb(255, 255, 255);
  font-size:40px;
  margin-left: 40px;
  margin-top: 60px;
}
p{
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 40px;
  width: 40%;
  margin-top: -50px;
  margin-left: 30px;
  position: relative; bottom: 220px;
}
header {
  background-color: #ffffff;  
  padding: 10px 20px;
}
header ul {
  list-style-type: none;
  margin: 30px;  
  float: right;
  margin-top: 10px;
}
header ul li {
  display: inline;
  margin-left: 30px;
  font-size: 18px;
}
header ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
footer {
  background-color: #f7f7f7;              
  text-align: center;      
}
footer p {
  margin: 0px; 
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
main img {
  max-width: 220px;
  height: auto;
  position: relative; left: 300px;
  border-radius: 20%;
  margin-top: -50px;
}
footer {
  background-color: #ffffff;           
  text-align: center;  
  padding: 40px; 
}
.p2 {
  color: rgb(255, 255, 255);
  background-color: rgb(173, 216, 230);
  margin: 2px auto; 
  border: 5px solid black;
}





