body {
  background-color: lightblue;
  margin:0;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-left: -1000px;
  margin-top: 120px; 
}
p1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  display: inline-block;;
}
p {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  border: 2px solid rgb(0, 0, 0);
  padding: 30px;
  width: 40%;
  margin-top: 150px;
  font-weight: bold;
}
header {
  background-color: #ffffff;  
  padding: 10px 20px;
}
header p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 35px;
}
header ul li {
  display: inline;
  margin-left: 20px;
}
header ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
header ul li a:hover {
  color: lightblue;
}

